<a href="https://colab.research.google.com/github/sonmh79/VRPPD-with-robots/blob/main/Delivery_Robot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INFORMATION
## 1개 Seed에 대해 유전 알고리즘을 이용한 결과를 구합니다.

## 필수 엑셀 자료 형식
B1 : floors, dtype = int

B2 : robots, dtype = int

B3 : customers, dtype = int

A10 : 노드 별 수요, dtype = str('dd =' + dict)

A16~A? : travel time matrix, dtype = {(n1,n2):float(not-zero),...,}

Sheet Name : seed1, seed2, ... , seed10

In [30]:
import pandas as pd
import time
import random
from collections import OrderedDict

In [31]:
e1 = pd.read_excel('/content/drive/MyDrive/vrp_data/small_sized_210722.xlsx',sheet_name='seed2',header=None)

In [32]:
dd = e1.loc[9][0]
dd = dd.split("=")[1].strip(" ")
dd = [d.strip("{").strip(" ").strip("}") for d in dd.split(",")]
dic = {}
for d in dd:
  k = int(d.split(":")[0])
  v = int(d.split(":")[1])
  dic[k] = v
df = pd.DataFrame(dic,index=["Delivery demand"]).T
df

    Delivery demand
1                 1
2                 2
3                 2
4                 1
5                 1
6                 2
7                 1
8                 2
9                 1
10                2
11                1
12                2
13                2
14                2
15                2

In [33]:
customers = int(e1.loc[2][1])
d_data = []
data = []
for d in list(e1.loc[15:15+(customers+1)*(customers)-1][0]):
  data.append(float(d.split(":")[1].rstrip(",").rstrip("}")))
  if len(data) == customers:
    d_data.append(data)
    data = []

for i in range(len(d_data)):
  d_data[i].insert(i,0)
  
d_data = pd.DataFrame(d_data)
d_data

        0       1       2       3   ...      12      13      14      15
0     0.00   65.69  157.83  158.55  ...  169.83  180.55  211.55  196.69
1    65.69    0.00  128.83   92.83  ...  171.69  198.55  223.83  222.55
2   157.83  128.83    0.00   74.69  ...  184.69  176.55  166.69  146.83
3   158.55   92.83   74.69    0.00  ...  199.55  159.55  177.69  176.83
4   132.83  103.55   63.83   30.83  ...  221.83  148.55  160.83  216.55
5   136.83  118.83   92.69   94.83  ...  158.69  219.69  154.55  181.83
6   135.83  156.83  161.83   89.83  ...  180.83  172.83  191.69  123.69
7   112.83  118.69   92.69  105.55  ...  163.55  144.69  192.55  149.55
8   149.83  129.55  112.55  136.55  ...  140.83  109.83  182.69  142.83
9   181.69  203.83  139.55  143.55  ...  103.69   95.55  111.55  111.83
10  215.69  200.69  138.83  200.83  ...  128.55   90.69   91.83  118.83
11  191.69  148.69  124.83  170.55  ...  121.69  128.69  108.69  143.69
12  169.83  171.69  184.69  199.55  ...    0.00   41.69   31.69   62.55
13  180.55  198.55  176.55  159.55  ...   41.69    0.00   46.69  102.83
14  211.55  223.83  166.69  177.69  ...   31.69   46.69    0.00   44.69
15  196.69  222.55  146.83  176.83  ...   62.55  102.83   44.69    0.00

[16 rows x 16 columns]

In [34]:

#Initial solution construction heuristic

# 모든 노드를 다 분리해서 각각 하나의 트립으로 생각 ! 각 노드마다 가지고 있는 정보는 demand 와 trip의 트래블 타임
class Heuristic:

  """ Make Initial Solution For GA """

  def __init__(self):
    initial_trips = {}
    for i in range(1,len(self.data)+1):
      initial_trips[i]=(self.data.loc[i]["Delivery demand"],self.travel_time([0,i,0]))
      sorted_initial_trips = OrderedDict(sorted(initial_trips.items(), key = lambda x:x[1][1], reverse=True))
    feasible_trips = []
    while len(initial_trips) > 0:
        a = sorted_initial_trips.popitem(last=False)
        del initial_trips[a[0]]
        temp = []
        temp_2 = []
        if len(initial_trips) != 0:
            for i in initial_trips.keys():
                if initial_trips[i][0] + a[1][0] == 3: # robot capa = 3
                    temp.append((i, self.d_data[i][a[0]]))
                    
                elif initial_trips[i][0] + a[1][0] < 3:
                    temp_2.append((i, self.d_data[i][a[0]]))
                  
            if len(temp) != 0:
                temp.sort(key= lambda x:x[1])
                next_node = temp[0][0]
                next_node_demand = initial_trips[next_node][0]
                feasible_trips.append([a[0], next_node])
                del sorted_initial_trips[next_node]
                del initial_trips[next_node]
              
            else:
                if len(temp_2) !=0:
                    temp_2.sort(key = lambda x:x[1])
                    next_node = temp_2[0][0]
                    next_node_demand = initial_trips[next_node][0]
                    del sorted_initial_trips[next_node]
                    del initial_trips[next_node]
                    temp_3 = []
                    if len(initial_trips)!=0:
                        for i in initial_trips.keys():
                            if a[1][0] + next_node_demand + initial_trips[i][0] == 3:
                                temp_3.append((i, self.d_data[next_node][i]))
                        if len(temp_3) !=0:
                            temp_3.sort(key=lambda x:x[1])
                            next_next_node = temp_3[0][0]
                            feasible_trips.append([a[0], next_node, next_next_node])
                            del sorted_initial_trips[next_next_node]
                            del initial_trips[next_next_node]
                          
                        else:
                            feasible_trips.append([a[0], next_node])
                              
                    else:
                        feasible_trips.append([a[0], next_node])
                      
                else:
                    feasible_trips.append([a[0]])  
        else:
            feasible_trips.append([a[0]])
    res = []
    for trip in feasible_trips:
      for t in trip:
        res += [t]
    print(res)
    return res

  def travel_time(self,route):
    total_tt = 0
    for i in range(0, len(route)-1):
        total_tt = total_tt + d_data.loc[route[i]][route[i+1]]        
    return total_tt

In [43]:
import random
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


class VRP(Heuristic):
  def __init__(self,df,d_data = d_data,capacity=3,cnum=100,mutation_prob=0.2,ev_times=100,robots=3):
    self.n = len(d_data)
    self.c = capacity
    self.data = df
    self.d_data = d_data
    self.cnum = cnum
    self.cnt = 0
    self.mutation_prob = mutation_prob
    self.ev_times = ev_times
    self.dist = 0
    self.robots = robots
    self.min_route = []
    self.info = []
    self.initial_input = list(range(1,len(self.data)+1))
    

  def _chromo(self,t=1):

    """ 1. Make Random Chromos """

    res = []
    for _ in range(t):
     res.append(random.sample(range(1,self.n),self.n-1)) 
    return res

  
  def calc_trips(self,trips):
    dist_list = []
    for trip in trips:
      d = 0
      for i in range(len(trip)-1):
        d += self.d_data.loc[trip[i]][trip[i+1]]
      dist_list.append(d)
    
    res = list(zip(dist_list,trips))
    res.sort()
    return res
  
  def split_trip(self, trip):

    """ Split Trip to Trips """

    stack = 0
    trips = []
    t = [0]
    for node in trip:
      if node == 0:
        stack +=1
      else:
        t.append(node)
      if stack == 2:
        stack = 1
        t.append(0)
        trips.append(t)
        t = [0]
    return trips
  
  def show_trip(self,route):

    """ Print the Trip of Min Route """

    stack = 0
    new_trips = [0]
    for i in range(len(route)):
      cur_demand = self.data.loc[route[i]]["Delivery demand"]
      if stack + cur_demand <= self.c:
        stack += cur_demand
        new_trips.append(route[i])
      else:
        stack= cur_demand
        new_trips = new_trips+[0]
        new_trips.append(route[i])
    new_trips += [0]
    return new_trips


  def _calc_route(self,route):

    """ 2-1-1 Calculate Distance Considering D Demands """
    stack = 0
    new_trips = [0]
    for i in range(len(route)):
      cur_demand = self.data.loc[route[i]]["Delivery demand"]
      if stack + cur_demand <= self.c:
        stack += cur_demand
        new_trips.append(route[i])
      else:
        stack= cur_demand
        new_trips = new_trips+[0]
        new_trips.append(route[i])
    new_trips += [0]

    res = 0
    for i in range(len(new_trips)-1):
      res += self.d_data.loc[new_trips[i]][new_trips[i+1]]
    return res

  def _getdist(self, chromos):

    """ 2-1 Return Distance of Each Chromo """

    dist_list = []

    for chromo in chromos:
      dist_list.append(self._calc_route(chromo))

    fit = list(zip(dist_list,chromos))
    fit.sort(key = lambda x:x[0])
    return fit

  def _rand(self,x,y):
    return int(random.uniform(x,y))

  def _crossover(self,p1,p2,hard_mode=False):

    """ 2-2-2. Crossover and Mutation """

    swap_point = self._rand(1,len(p1))
    c1,c2 = [],[]

    i = 0
    while i < swap_point:
      c1.append(p1[i])
      c2.append(p2[i])
      i+=1

    for e in p2:
      if e not in c1:
        c1.append(e)

    for e in p1:
      if e not in c2:
        c2.append(e)
    
    #mutation
    if random.uniform(0,1) <= self.mutation_prob and len(c1)>2 and not hard_mode:
      e1,e2 = random.sample(range(1,len(c1)),2)
      #target will select mutation child
      if e1 > e2:
        target = e1
      else:
        target = e2
      
      if target%2 == 0:
        c1[e1],c1[e2] = c1[e2],c1[e1]
      else:  
        c2[e1],c2[e2] = c2[e2],c2[e1]

    if hard_mode:
      e1,e2 = random.sample(range(0,len(c1)-1),2)
      c1[e1],c1[e1+1] = c1[e1+1],c1[e1]
      c2[e2],c2[e2+1] = c2[e2+1],c2[e2]

    next_gen = self._getdist([c1,c2,p1,p2])
    #print("next_gen: ",next_gen)
    c1,c2 = next_gen[0][1],next_gen[1][1]
    #print("c1,c2: ",c1,c2)
    return [c1,c2]

  
  def _select_parent(self,parents):

    """ 2-2-1. Select Parents with Roulette Algorithm  """

    fitness = [1/route[0] for route in parents] 
    sum = 0

    for f in fitness:
      sum += f
    p_index = set()

    while len(p_index)<2:
      fit = 0
      target = random.uniform(0,sum)
      for i in range(len(fitness)):
        fit += fitness[i]
        if fit > target:
          p_index.add(i)
          break  
    return list(p_index)

  
  def _make_child(self,dist_routes):

    """ 2-2. Compare Parents with Childs and Return Best Routes  """

    self.cnt += 1
    parents = dist_routes.copy()
    routes = [route[1] for route in parents]
    child = []

    # select top 100 chromos
    while parents and len(child)<self.cnum:
      selected_parents = self._select_parent(parents)
      p1,p2 = routes.pop(selected_parents[0]),routes.pop(selected_parents[1]-1)
      parents.pop(selected_parents[0]),parents.pop(selected_parents[1]-1)
      c1,c2 = self._crossover(p1,p2)
      child += c1,c2

    return child

  def evolution(self,chromo):

    """ 2. Make Childs """
    
    dist_routes = self._getdist(chromo) #(dist,routes)
    child = self._make_child(dist_routes)
    return child

  def ga(self): 

    """ 0. Start Genetic Algorithm !! """

    chromos = self._chromo(99)
    chromos.append(self.initial_input)    
    gen = self.evolution(chromos)
    self.info = self._getdist(gen)
    print("First Genenration Minimun Route: ",(self.info[0][0],self.info[0][1]))
    stack = 0
    for i in range(self.ev_times):
      gen = self.evolution(gen)
      self.info = self._getdist(gen)
      t = self.cnt
      if t % 10 == 0:
        print("{}/{}th Evolution Min Route: ".format(t,self.ev_times),(self.info[0][0],self.info[0][1]))
      
      # to avoid local minimum
      if t == 30:
        self.mutation_prob = t/100
        print(f"==================== Mutation Prob Upgrade to {self.mutation_prob} ==================== ")
      elif t == 50:
        self.mutation_prob = t/100
        print(f"==================== Mutation Prob Upgrade to {self.mutation_prob} ==================== ")
      elif t == 70:
        self.mutation_prob = t/100
        print(f"==================== Mutation Prob Upgrade to {self.mutation_prob} ==================== ")

      cur_dist = self.info[0][0]
      if self.dist == cur_dist:
        stack += 1
      else:
        stack = 0

      if stack == 30:
        self.dist,self.min_route = self.info[0][0],self.info[0][1] 
        print(f'Repeated {stack}times ------------------------------------------BREAK')  
        break
      
      self.dist,self.min_route = self.info[0][0],self.info[0][1]   
    
      
    print("----------------------------------------Finish----------------------------------------")
    print("Total Travel Time / Min Route: ",self.dist," / ",self.min_route)
    print(self.show_trip(self.info[0][1]))
#if __name__ == "__main__":

In [44]:
# Medium Data Seed7
v = VRP(df,d_data,capacity=3,ev_times=200)
s= time.time()
v.ga()
e = time.time()
t = e-s
print("Total Time: ",round(t,1),"(s)")

First Genenration Minimun Route:  (3509.26, [15, 6, 12, 9, 4, 2, 13, 8, 7, 11, 14, 1, 3, 10, 5])
10/200th Evolution Min Route:  (3468.4, [1, 2, 9, 15, 5, 14, 3, 4, 6, 7, 8, 10, 11, 12, 13])
20/200th Evolution Min Route:  (3465.2599999999998, [3, 1, 2, 4, 5, 14, 6, 7, 9, 13, 10, 11, 8, 15, 12])
Repeated 10times
----------------------------------------Finish----------------------------------------
Total Travel Time / Min Route:  3465.2599999999998  /  [3, 1, 2, 4, 5, 14, 6, 7, 9, 13, 10, 11, 8, 15, 12]
[0, 3, 1, 0, 2, 4, 0, 5, 14, 0, 6, 7, 0, 9, 13, 0, 10, 11, 0, 8, 0, 15, 0, 12, 0]
Total Time:  40.5 (s)