<a href="https://colab.research.google.com/github/sonmh79/VRPPD-with-robots/blob/main/R_VRPPD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import time

In [2]:
"""demand_data = pd.read_excel('/content/drive/MyDrive/Indoor_robot_parameter.xlsx',sheet_name='demand',index_col=0)
d_data = pd.read_excel('/content/drive/MyDrive/Indoor_robot_parameter.xlsx',sheet_name='OD_travel_time',index_col=0)
solution = pd.read_excel('/content/drive/MyDrive/Indoor_robot_parameter.xlsx',sheet_name='optimal_solution')"""

"demand_data = pd.read_excel('/content/drive/MyDrive/Indoor_robot_parameter.xlsx',sheet_name='demand',index_col=0)\nd_data = pd.read_excel('/content/drive/MyDrive/Indoor_robot_parameter.xlsx',sheet_name='OD_travel_time',index_col=0)\nsolution = pd.read_excel('/content/drive/MyDrive/Indoor_robot_parameter.xlsx',sheet_name='optimal_solution')"

In [10]:
class Rvrp:
    def __init__(self, demand_data, d_data, floor, n_robots, capacity):
        self.data = demand_data
        self.d_data = d_data
        self.f = floor
        self.r = n_robots
        self.robots = []
        self._divide_floor()
        self.capacity = capacity

    def _divide_floor(self):

        """Initial Routes Construct"""

        r = []
        for i in range(1, self.f + 1):
            r.append(i)
            if len(r) == round(self.f / self.r):
                self.robots.append(r)
                r = []
        if r:
            self.robots.append(r)

    def _is_delivery(self, node):
        return self.data.loc[node]["Delivery demand"] != 0

    def _separate(self, robot):

        """Separate Delivery with Pickup"""

        d, p = [], []
        for node in robot:
            if self._is_delivery(node):
                d.append(node)
            else:
                p.append(node)
        return [d, p]

    def _get_demand(self, node):

        """Get Demand of Node"""

        if node is None:
            return 0

        if self._is_delivery(node):
            return self.data.loc[node]["Delivery demand"]
        else:
            return self.data.loc[node]["Pickup demand"]

    def cal_cost(self, robots):

        """Calculate Total Cost"""

        cost = 0
        for robot in robots:
            for i in range(len(robot) - 1):
                cost += self.d_data.loc[robot[i]][robot[i + 1]]
        print("Total Travel Time: ", cost)

    def make_trip(self):

        """Make Trip Of Robot"""

        trips = []
        for robot in self.robots:
            trip = [0]
            bot = self._separate(robot).copy()
            dnodes, pnodes = bot[0], bot[1]
            while dnodes and pnodes:

                """1. Get First Node from Delivery and Pickup"""

                dnode = dnodes.pop(0)
                pnode = pnodes.pop(0)
                dnode_demand, pnode_demand = self._get_demand(dnode), self._get_demand(
                    pnode
                )

                """ 1-1. Pickup Node's Demand Affect to Capacity"""

                if dnode_demand > pnode_demand:
                    dc, pc = dnode_demand, pnode_demand
                else:
                    dc = pc = pnode_demand

                trip.append(dnode)
                trip.append(pnode)

                """ 2. Search Delivery Nodes """

                stack = 0
                for i in range(len(dnodes)):
                    curindex = i - stack
                    curdemand = self._get_demand(dnodes[curindex])
                    if dc + curdemand <= self.capacity:
                        dc += curdemand
                        trip.append(dnodes.pop(curindex))
                        stack += 1
                    if dc == self.capacity:
                        break

                """ 3. Search Pickup Nodes  """

                stack = 0
                for i in range(len(pnodes)):
                    curindex = i - stack
                    curdemand = self._get_demand(pnodes[curindex])
                    if pc + curdemand <= self.capacity:
                        pc += curdemand
                        trip.append(pnodes.pop(i))
                        stack += 1
                    if pc == self.capacity:
                        break

                trip.append(0)

            """ 4. Search Rest Nodes (Only Delivery or Pickup) """

            while dnodes:
                dc = 0
                stack = 0
                for n in dnodes:
                    curdemand = self._get_demand(n)
                    if dc + curdemand <= self.capacity:
                        dc += curdemand
                        trip.append(n)
                        dnodes.remove(n)

                    if dc == self.capacity:
                        trip.append(0)
                        break

            while pnodes:
                pc = 0
                for n in pnodes:
                    curdemand = self._get_demand(n)
                    if pc + curdemand <= self.capacity:
                        pc += curdemand
                        trip.append(n)
                        pnodes.remove(n)

                    if pc == self.capacity:
                        trip.append(0)
                        break

            trips.append(trip)
        self.cal_cost(trips)
        return trips

In [3]:
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""
"""--------------------------------------------------------NEW DATASET--------------------------------------------------------"""

'--------------------------------------------------------NEW DATASET--------------------------------------------------------'

In [28]:
vd = pd.read_excel("/content/drive/MyDrive/휴리스틱체크.xlsx",header=None)
info = vd.loc[:2]
info

           0     1
0     floors   6.0
1     robot    2.0
2  customers  14.0

In [5]:
floors = vd.loc[6][0]
floors

"{'one': 3, 'two': 3, 'three': 2, 'four': 2, 'five': 3, 'six': 1}"

In [6]:
""" Delivery Demand """
demand = []
cnt = 1
for i in vd.loc[9][0].split("=")[1]:
  if i.isdigit():
    demand.append(i)

d_demand = {}
i = 0
s = ""
key = item = None
while i < len(demand):
  if i <= 17:
    if i % 2 == 0 or i==0:
      key = int(demand[i])
    else:
      item = int(demand[i])
      d_demand[key] = item
  else:
    if len(s) <= 1:
      s+=demand[i]
    else:
      key = int(s)
      item = int(demand[i])
      d_demand[key] = item
      s =""
  i += 1
d_demand

{1: 2,
 2: 0,
 3: 2,
 4: 0,
 5: 0,
 6: 0,
 7: 1,
 8: 1,
 9: 2,
 10: 1,
 11: 0,
 12: 1,
 13: 0,
 14: 0}

In [7]:
""" Pickup Demand """
demand = []
cnt = 1
for i in vd.loc[10][0].split("=")[1]:
  if i.isdigit():
    demand.append(i)

p_demand = {}
i = 0
s = ""
key = item = None
while i < len(demand):
  if i <= 17:
    if i % 2 == 0 or i==0:
      key = int(demand[i])
    else:
      item = int(demand[i])
      p_demand[key] = item
  else:
    if len(s) <= 1:
      s+=demand[i]
    else:
      key = int(s)
      item = int(demand[i])
      p_demand[key] = item
      s =""
  i += 1
p_demand

{1: 0,
 2: 1,
 3: 0,
 4: 1,
 5: 2,
 6: 2,
 7: 0,
 8: 0,
 9: 0,
 10: 0,
 11: 2,
 12: 0,
 13: 2,
 14: 2}

In [8]:
""" Delivery and Pickup Demand """
demand_set = pd.DataFrame([d_demand,p_demand]).T
demand_set.columns = ["D","P"]
demand_set

    D  P
1   2  0
2   0  1
3   2  0
4   0  1
5   0  2
6   0  2
7   1  0
8   1  0
9   2  0
10  1  0
11  0  2
12  1  0
13  0  2
14  0  2

In [13]:
""" Make Distance(Travel Time) Data """
a = [float(i.split(":")[1].rstrip(",").rstrip("}")) for i in vd.loc[15:][0]]
b = [] 
for i in range(15):
  aa = a[14*i:14*(i+1)]
  aa.insert(i,0)
  b.append(aa)
d_data = pd.DataFrame(b)
d_data

        0       1       2       3   ...      11      12      13      14
0     0.00   38.83   96.69   85.55  ...  220.83  195.55  174.83  224.83
1    38.83    0.00   54.83   51.69  ...  171.83  177.69  172.83  218.55
2    96.69   54.83    0.00   56.55  ...  176.83  180.69  213.83  187.83
3    85.55   51.69   56.55    0.00  ...  218.55  159.55  181.55  208.83
4   162.83   93.55   89.69  124.55  ...  193.69  190.69  177.83  217.69
5   150.55  161.69  102.83   84.69  ...  144.69  158.55  137.83  148.83
6   128.83   84.55  154.55  148.83  ...  152.69  173.83  123.69  140.55
7   160.69  115.55  182.69  124.69  ...  174.55  167.83  161.83  194.83
8   163.69  180.55  152.55  155.69  ...  125.83  109.55  153.83  166.83
9   156.55  131.55  184.69  173.55  ...  146.83  142.69  133.83  136.55
10  184.55  196.55  148.69  151.83  ...  150.55  131.55  161.69  138.83
11  220.83  171.83  176.83  218.55  ...    0.00   30.83   55.55  155.69
12  195.55  177.69  180.69  159.55  ...   30.83    0.00   77.83  141.69
13  174.83  172.83  213.83  181.55  ...   55.55   77.83    0.00  156.55
14  224.83  218.55  187.83  208.83  ...  155.69  141.69  156.55    0.00

[15 rows x 15 columns]